<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Sobre nosotros</span></h2>
                    <p class="lead fw-light mb-4">SISDEN es una organización sin fines de lucro que lucha contra el maltrato animal.</p>
                    <p class="text-muted">
                        Nuestro sistema facilita la presentación y gestión de denuncias de maltrato animal a través de un chatbot en WhatsApp y nuestra web. Colaboramos con entidades autorizadas para asegurar una respuesta rápida y efectiva, promoviendo el bienestar animal.
                    </p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        <a class="text-gradient" href="https://web.facebook.com/profile.php?id=61561373944685"><i class="bi bi-facebook"></i></a>
                        <a class="text-gradient" href="https://wa.me/18296952218"><i class="bi bi-whatsapp"></i></a>
                        <a class="text-gradient" href="https://github.com/rosmarystosj/SISDEN"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
