@page "/cambiarcontra"
@layout NavLay
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject LoginModelService LoginModel
@inject RegistroEntidadService RegistroServiceEntidad
@inject RegistroDenuncianteService RegistroService
@inject DenunciasService DenunciasService
@inject AuthService AuthService
@inject NavigationManager NavigationManager


<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <title>Riho - Premium Admin Template</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <!-- Ico-font-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/echart.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/date-picker.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/datatables.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/owlcarousel.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/rating.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/rangeslider/rSlider.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/prism.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/fullcalender.css">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link id="color" rel="stylesheet" href="../assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
</head>




@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="floating-alert">
        @errorMessage
    </div>
}
<body>
    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader4"></div>
        </div>
    </div>
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <div class="page-body-wrapper">
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <svg class="stroke-icon">
                                                <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item">Tu Cuenta</li>
                                    <li class="breadcrumb-item active">Cambiar Contraseña</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Cambiar Contraseña</h4>
                                    <p class="f-m-light mt-1">Complete los siguientes campos</p>
                                </div>
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <div class="card-wrapper border rounded-3 light-card checkbox-checked">
                                                <form class="row g-3" @onsubmit="HandleSubmit">
                                                    <div class="col-xxl-4 col-sm-6">
                                                        <label class="col-form-label" for="currentPassword">Contraseña Anterior</label>
                                                        <input class="form-control" id="currentPassword" type="password" placeholder="Ingrese la contraseña anterior" @bind="changePasswordRequest.CurrentPassword" required>
                                                    </div>
                                                    <div class="col-xxl-4 col-sm-6">
                                                        <label class="col-form-label" for="newPassword">Nueva Contraseña</label>
                                                        <input class="form-control" id="newPassword" type="password" placeholder="Digite la nueva contraseña" @bind="changePasswordRequest.NewPassword" required>
                                                    </div>
                                                    <div class="col-xxl-4 col-sm-6">
                                                        <label class="col-form-label" for="confirmNewPassword">Confirmar Nueva Contraseña</label>
                                                        <input class="form-control" id="confirmNewPassword" type="password" placeholder="Digite la nueva contraseña otra vez" @bind="changePasswordRequest.ConfirmNewPassword" required>
                                                    </div>
                                                    <div class="col-12">
                                                        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2024 © Riho theme by pixelstrap</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="pixelstrap">
<link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
<link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
<title>Riho - Premium Admin Template</title>
<!-- Google font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
<!-- Font Awesome-->
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
<!-- Ico-font-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/icofont.css">
<!-- Themify icon-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/themify.css">
<!-- Flag icon-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/flag-icon.css">
<!-- Feather icon-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick-theme.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/scrollbar.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/echart.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/date-picker.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/datatables.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/owlcarousel.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/rating.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/photoswipe.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/rangeslider/rSlider.min.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/prism.css">
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/fullcalender.css">
<!-- Plugins css Ends-->
<!-- Bootstrap css-->
<link rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">
<!-- App css-->
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
<link id="color" rel="stylesheet" href="../assets/css/color-1.css" media="screen">
<!-- Responsive css-->
<link rel="stylesheet" type="text/css" href="../assets/css/responsive.css">
</html>

@code {
    private string errorMessage;
    private string correo;
    private int user;

    private ChangePasswordModel changePasswordRequest = new ChangePasswordModel();

    private async Task HandleSubmit()
    {
        errorMessage = null;

        if (changePasswordRequest.NewPassword != changePasswordRequest.ConfirmNewPassword)
        {
            errorMessage = "La nueva contraseña y la confirmación no coinciden.";
            return;
        }
        if (LoginModel.LoginModel?.UsuRol == 1 || LoginModel.LoginModel?.UsuRol == 2)
        {
            correo = LoginModel.LoginModel.Usuemail;
            user = await AuthService.ObtenerUsuarioIdAsync(correo);

        }
        else if (RegistroService.RegistroModelo?.Usurol == 1)
        {
            correo = RegistroService.RegistroModelo.Usuidentificacion;
            user = await AuthService.ObtenerUsuarioIdAsync(correo);
        }

        else if (RegistroServiceEntidad.EntidadModelo?.Usurol == 2)
        {
            correo = RegistroServiceEntidad.EntidadModelo.Usuemail;
            user = await AuthService.ObtenerUsuarioIdAsync(correo);
        }
        changePasswordRequest.UserId = user;
        try
        {
            var response = await Http.PostAsJsonAsync("api/cambiarContra", changePasswordRequest);

            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/index");
            }
            else
            {
                var errorResponse = await response.Content.ReadAsStringAsync();
                errorMessage = $"Error: {errorResponse}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = "Ocurrió un error inesperado.";
            Console.WriteLine(ex.Message);
        }
    }
}