@page "/confirmar"
@inject NavigationManager NavigationManager
@layout MainLayout

<!DOCTYPE html>
<html lang="en">

  <body>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="card shadow-sm border rounded-3">
            <div class="card-body p-4">

        <form class="stepper-four row g-3 needs-validation" novalidate="">
        <div class="col-12 m-0">
            <div class="successful-form">
                <img class="img-fluid" src="../assets/images/gif/dashboard-8/successful.gif" alt="successful">
                <h6>Felicidades</h6>
                <p>¡Bien hecho! Se ha verificado con éxito. </p>
            </div>
        </div>
    </form>
    <div class="button-group">
        <div class="wizard-footer d-flex gap-2 justify-content-between">
            <BotonAtras> </BotonAtras>
            <button class="btn btn-primary btn-sm" id="nextbtn" @onclick="IraHome">Finalizar</button>
        </div>
    </div>
  </div>
 </div>

</div>
 </div>

  </body>
</html>

<style>
    .button-group {
        margin-top: 40px;
        e4erfn
</style>

@code {
    private async Task IraHome()
    {
        NavigationManager.NavigateTo("/index");
    }
}
