@page "/index"
@inject NavigationManager NavigationManager


<h1>Bienvenido a la Aplicación de Denuncias</h1>
<p>Seleccione su rol para proceder al registro:</p>
<button @onclick="NavigateToEntidad">Registro para Entidad</button>
<button @onclick="NavigateToDenunciante">Registro para Denunciante</button>

@code {
    private void NavigateToEntidad()
    {
        NavigationManager.NavigateTo("/registro-entidad");
    }

    private void NavigateToDenunciante()
    {
        NavigationManager.NavigateTo("/registro-denunciante");
    }
}
