@inject NavigationManager NavigationManager
@layout SecondaryLayout



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" <img class="img-fluid" src="../assets/images/landing/logo_transparent_background150.png" @onclick="IraHome" ><span class="fw-bolder text-primary"></span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="https://wa.me/18296952218">WhatsApp</a></li>
                        <li class="nav-item"><a class="nav-link" @onclick="IraHome">Home</a></li>
                        <li class="nav-item"><a class="nav-link" @onclick="IraContact">Contacto</a></li>
                        <li class="nav-item dropdown estilo-boton1">
                            <a class="nav-link dropdown-toggle letra" style="color: white;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inicia sesión
                            </a>
                            <ul class="dropdown-menu dropdown-content ">
                                <li><a class="dropdown-item" @onclick="IraLoginEnt">Entidad</a></li>
                                <li><a class="dropdown-item" @onclick="IraLoginDenun">Denunciante</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item">Eligue una opción</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown estilo-boton2">
                            <a class="nav-link dropdown-toggle letra2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Registrase
                            </a>
                            <ul class="dropdown-menu dropdown-content ">
                                <li><a class="dropdown-item" @onclick="IraRegistroEnt">Entidad</a></li>
                                <li><a class="dropdown-item" @onclick="IraRegistroDenun">Denunciante</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item">Eligue una opción</a></li>
                            </ul>
                        </li>

                    </ul>

                </div>

            </div>
        </nav>

    </main>
  
  

</body>


</html>


@code {
    private async Task IraAyuda()
    {
        NavigationManager.NavigateTo("/ayuda");
    }
    private async Task IraHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task IraContacto()
    {
        NavigationManager.NavigateTo("/contact");
    }

    private async Task IraLoginEnt()
    {
        NavigationManager.NavigateTo("/login-entidad");
    }
    private async Task IraLoginDenun()
    {
        NavigationManager.NavigateTo("/login-denunciante");
    }
    private async Task IraRegistroEnt()
    {
        NavigationManager.NavigateTo("/registro-entidad");
    }
    private async Task IraRegistroDenun()
    {
        NavigationManager.NavigateTo("/registro-denunciante");
    }
    private async Task IraContact()
    {
        NavigationManager.NavigateTo("/contacto");
    }
}
