@page "/restablecercontra"


<!DOCTYPE html>
<html lang="en">

<body>
    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader4"></div>
        </div>
    </div>
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <div class="page-wrapper">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <div class="login-card login-dark">
                        <div>
                            <div><a class="logo" href="/"> <img class="img-fluid" src="../assets/images/landing/logo_transparent_background150.png"  /></a></div>

                            <div class="login-main">
                                <form class="theme-form">
                                    <h4>Restablece tu contraseña</h4>
                                    <div class="form-group">
                                        <label class="col-form-label">Nueva Contraseña</label>
                                        <div class="form-input position-relative">
                                            <input class="form-control" type="password" name="login[password]" required="" placeholder="*********">
                                            <div class="show-hide"><span class="show"></span></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Confirmar Contraseña</label>
                                        <input class="form-control" type="password" name="login[password]" required="" placeholder="*********">
                                    </div>
                                    <div class="form-group mb-0">
                                        <div class="checkbox p-0">
                                            <input id="checkbox1" type="checkbox">
                                            <label class="text-muted" for="checkbox1">Recodar contraseña</label>
                                        </div>
                                        <button class="btn btn-primary btn-block w-100" type="submit">Finalizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>


@code {

}
