@inherits LayoutComponentBase
@implements IDisposable
@inject IJSRuntime JS

<PageTitle>SISDENFRONT</PageTitle>

<div>
    <article class="content px-4">
        @Body
    </article>
</div>

  
@code{



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadScripts();
        }
    }

    private async Task LoadScripts()
    {
        await JS.InvokeVoidAsync("eval", @"
            var scriptBootstrap = document.createElement('script');
            scriptBootstrap.src = 'https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js';
            document.head.appendChild(scriptBootstrap);
        ");
    }

    public void Dispose()
    {
        // Si necesitas limpiar algo cuando se destruye el componente
    }
}

 