@inherits LayoutComponentBase


<PageTitle>SISDENFRONT</PageTitle>
<!DOCTYPE html>
<html>

    <Referencias></Referencias>
<div>
    <article class="content px-4">
        <NavIndex> </NavIndex>

        @Body
    </article>
</div>
<ReferenciasJ></ReferenciasJ>
</html>


@code {
   
}
