@inherits LayoutComponentBase

<div class="secondary-layout">
    <header>
    </header>
    <div class="content">
        <NavLanding> </NavLanding>
        @Body
    </div>
    <footer>
    </footer>
</div>

@code {
}
